numpy
pandas
matplotlib
pyspark >= 3.4.0
imageio
scikit-learn
torch
torchvision
transformers
opencv-python
Pillow
luigi
google-api-python-client
google-auth
gcsfs
fsspec
lightning
tqdm
torchmetrics
umap-learn
petastorm
pyarrow==10.0.1
pacmap
wandb

# developer tools
jupyterlab
black
pre-commit
